{{# contentFor "sidebar" }}
    <nav>
        <ul class="sidebar-submenu">
            {{# block "sidebar-submenu" }}
                <!-- sidebar-submenu goes here -->
            {{/ block }}
        </ul>
    </nav>
</div>
{{/ contentFor }}
