<!DOCTYPE html>
<html>
<head>
  <title>Example title</title>
</head>
<body>
  <div id="sidebar">
    {{# block "sidebar" }}
      <!-- sidebar goes here -->
    {{/ block }}
  </div>
  {{{body}}}
</body>
</html>
